! Cisco IOS-XRv 9000 Template: ASBR Routers (R3-R4 Equivalent)
! Hostname: {{ hostname }}
!
hostname {{ hostname }}
!
{% for intf in interfaces %}
interface {{ intf.cisco_name }}
 description {{ intf.description }}
{% if intf.ip is defined %}
 ipv4 address {{ intf.ip.split('/')[0] }} 255.255.255.252
{% endif %}
{% if intf.ipv6 is defined %}
 ipv6 address {{ intf.ipv6 }}
{% endif %}
 no shutdown
!
{% endfor %}
interface MgmtEth0/RP0/CPU0/0
 ipv4 address {{ mgmt_ip.split('/')[0] }} 255.255.255.0
 no shutdown
!
route-policy PASS-ALL
  pass
end-policy
!
{% if bgp is defined and bgp %}
router bgp {{ bgp.local_asn }}
 bgp router-id {{ bgp.router_id }}
 address-family ipv4 unicast
  redistribute connected
  redistribute ospf {{ ospf.process_id }}
 !
 address-family ipv6 unicast
  redistribute connected
  redistribute ospfv3 {{ ospf.process_id }}
 !
{% for n in bgp.neighbors %}
{% if n.afi == 'ipv4' %}
 neighbor {{ n.ip }}
  remote-as {{ n.remote_as }}
  description {{ n.description }}
  address-family ipv4 unicast
   route-policy PASS-ALL in
   route-policy PASS-ALL out
  !
 !
{% elif n.afi == 'ipv6' %}
 neighbor {{ n.ip }}
  remote-as {{ n.remote_as }}
  description {{ n.description }}
  address-family ipv6 unicast
   route-policy PASS-ALL in
   route-policy PASS-ALL out
  !
 !
{% endif %}
{% endfor %}
!
{% endif %}
{% if ospf is defined and ospf %}
router ospf {{ ospf.process_id }}
 router-id {{ ospf.router_id }}
 redistribute bgp {{ bgp.local_asn }}
 default-information originate always
 area 0
  interface GigabitEthernet0/0/0/1
  !
 !
!
{% endif %}
